{% extends "base.html" %}
{% block content %}
{% block content_title %}
<div class="section">
    <h2>Recent things:</h2>
    {% endblock %}
    <ol id="post-list">
    {% for article in articles %}
        <li><article>
            <span class="date">{{ article.locale_date }}</span>
            <span class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></span>
        </article></li>
    {% endfor %}
    </ol>
</div>
{% endblock content %}
